/* FUNDO GERAL COM IMAGEM */
.serie-section {
  min-height: 100vh;
  background-size: contain;
  display: flex;
  align-items: center;
}

/* CARD CENTRAL */
.serie-card {
  border-radius: 12px;
  background: #fff;
  border: none;
}

/* TÍTULO */
.titulo {
  color: #6f2dbd;
  font-weight: bold;
}

/* INPUT PADRÃO */
.form-control {
  border-radius: 6px;
  padding: 10px;
}

/* LABEL */
.form-label {
  font-size: 0.9rem;
  color: #555;
}

/* BOTÕES */
.btn-primary {
  background-color: #3b82f6;
  border: none;
}

.btn-outline-secondary {
  border-radius: 6px;
}
